<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
		  package="com.jdroid.android.firebase.fcm">

	<application>

		<service android:name="com.jdroid.android.firebase.fcm.DefaultFirebaseMessagingService">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>

		<receiver android:name="com.jdroid.android.firebase.fcm.LocaleChangedReceiver" android:exported="true" tools:ignore="ExportedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.LOCALE_CHANGED" />
			</intent-filter>
		</receiver>

	</application>

</manifest>