<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="6171000"
	android:versionName="6.1.71-000" package="com.google.android.gms">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21" />
	<application />
</manifest>
