target/

jdroid-java/bin/
jdroid-java/target/
jdroid-java/test-output/
jdroid-java/work/
jdroid-java/.settings/org.maven.ide.eclipse.prefs

jdroid-javaweb/bin/
jdroid-javaweb/target/
jdroid-javaweb/test-output/
jdroid-javaweb/work/
jdroid-javaweb/.settings/org.maven.ide.eclipse.prefs

jdroid-android/bin/
jdroid-android/gen/
jdroid-android/target/
jdroid-android/tmp/
jdroid-android/.settings/org.maven.ide.eclipse.prefs

jdroid-android-leftnavbar/bin/
jdroid-android-leftnavbar/gen/
jdroid-android-leftnavbar/target/
jdroid-android-leftnavbar/.settings/org.maven.ide.eclipse.prefs

jdroid-sample-server/bin/
jdroid-sample-server/target/
jdroid-sample-server/test-output/
jdroid-sample-server/work/
jdroid-sample-server/.settings/org.maven.ide.eclipse.prefs
jdroid-sample-server/src/main/resources/settings.local.properties
jdroid-sample-server/src/main/resources/git.properties
jdroid-sample-server/src/main/resources/log4j.xml
jdroid-sample-server/src/main/webapp/.#webclasspath
