.gradle
build/
.idea/libraries
.idea/workspace.xml
*.iml
/local.properties
/captures

jdroid-java/build/
jdroid-java/*.iml
jdroid-java/local.properties

jdroid-javaweb/build/
jdroid-javaweb/*.iml
jdroid-javaweb/local.properties

jdroid-android/build/
jdroid-android/*.iml
jdroid-android/local.properties

jdroid-gradle-plugin/.gradle/
jdroid-gradle-plugin/build/
jdroid-gradle-plugin/.idea/libraries
jdroid-gradle-plugin/.idea/workspace.xml
jdroid-gradle-plugin/local.properties
jdroid-gradle-plugin/*.iml

jdroid-sample-server/build/
jdroid-sample-server/*.iml
jdroid-sample-server/local.properties
jdroid-sample-server/gradle.properties
jdroid-sample-server/src/main/resources/settings.properties

jdroid-sample-android/build/
jdroid-sample-android/*.iml
jdroid-sample-android/local.properties
jdroid-sample-android/gradle.properties

