<settings>

	<servers>
    	<server>
      		<id>ossrh</id>
      		<username>${OSSRH_SERVER_USERNAME}</username>
      		<password>${OSSRH_SERVER_PASSWORD}</password>
    	</server>
	</servers>
  
	<profiles>
	
	    <profile>
  			<id>jdroid-release</id>
      		<properties>
        		<gpg.executable>gpg</gpg.executable>
        		<gpg.passphrase>${GPG_PASSPHRASE}</gpg.passphrase>
      		</properties>
    	</profile>
	
		 <profile>
			<id>jdroid-sample-server</id>
			<properties>
				<google.server.api.key>${GOOGLE_SERVER_API_KEY}</google.server.api.key>
			</properties>
		 </profile>
	
	</profiles>
</settings>
