<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jdroid.android">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application>

		<meta-data android:name="com.jdroid.android.debug.firebase.analytics.FirebaseAnalyticsDebugAppLifecycleCallback" android:value="ApplicationLifecycleCallback" />
		<meta-data android:name="com.jdroid.android.debug.google.analytics.GoogleAnalyticsDebugAppLifecycleCallback" android:value="ApplicationLifecycleCallback" />
		<meta-data android:name="com.jdroid.android.debug.facebook.stetho.StethoApplicationLifecycleCallback" android:value="ApplicationLifecycleCallback" />
		<meta-data android:name="com.jdroid.android.leakcanary.LeakCanaryAppLifecycleCallback" android:value="ApplicationLifecycleCallback" />

		<activity android:name="com.jdroid.android.debug.DebugSettingsActivity"
				  android:label="@string/jdroid_debugSettings" />

		<activity android:name="com.jdroid.android.debug.PreferenceAppenderActivity"
				  android:parentActivityName="com.jdroid.android.debug.DebugSettingsActivity"
				  android:theme="@style/Jdroid.Theme.Light.Debug" />

		<activity android:name="com.jdroid.android.debug.info.DebugInfoActivity"
				  android:parentActivityName="com.jdroid.android.debug.DebugSettingsActivity"
				  android:label="@string/jdroid_debugInfoSettings" />

	</application>
</manifest>