<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jdroid.android">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application>

		<activity android:name="com.jdroid.android.debug.DebugSettingsActivity"
				  android:label="@string/debugSettings" />

		<activity android:name="com.jdroid.android.debug.PreferenceAppenderActivity"
				  android:parentActivityName="com.jdroid.android.debug.DebugSettingsActivity"
				  android:theme="@style/Jdroid.Theme.Light.Debug" />

		<activity android:name="com.jdroid.android.debug.DebugInfoActivity"
				  android:parentActivityName="com.jdroid.android.debug.DebugSettingsActivity"
				  android:label="@string/debugInfoSettings" />

	</application>
</manifest>