<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
		  package="com.jdroid.android.google.gcm">

	<!-- Permission so the Android application can register and receive messages. -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

	<application>

		<service android:name="com.jdroid.android.google.gcm.DefaultGcmListenerService">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>

		<receiver android:name="com.jdroid.android.google.gcm.LocaleChangedReceiver" android:exported="true" tools:ignore="ExportedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.LOCALE_CHANGED" />
			</intent-filter>
		</receiver>

	</application>

</manifest>