<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jdroid.sample.android"
	 xmlns:tools="http://schemas.android.com/tools">

	<permission android:name="${applicationId}.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature" />

	<uses-permission android:name="${applicationId}.permission.MAPS_RECEIVE" />
	<uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.android.vending.BILLING" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-feature android:name="com.google.android.tv" android:required="false" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.hardware.telephony" android:required="false" />

	<uses-feature android:name="android.hardware.LOCATION" android:required="false" />
	<uses-feature android:name="android.hardware.location.NETWORK" android:required="false" />
	<uses-feature android:name="android.hardware.location.GPS" android:required="false" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />

	<supports-screens android:largeScreens="true" android:xlargeScreens="true" />

	<application android:icon="@drawable/ic_launcher" android:logo="@drawable/ic_launcher" android:label="@string/appName"
		android:allowBackup="true" android:name="com.jdroid.sample.android.AndroidApplication" android:hardwareAccelerated="true"
		android:theme="@style/App.Theme">

		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="${googleMapsApiKey}" />
		<meta-data android:name="com.crashlytics.ApiKey" android:value="${crashlyticsApiKey}" />

		<activity android:name="com.jdroid.sample.android.ui.HomeActivity" android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="jdroidframework.com" android:pathPattern=".*" />
				<data android:scheme="jdroid" android:host="app" android:pathPattern=".*" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.google.android.apps.plus.VIEW_DEEP_LINK" />
				<data android:scheme="vnd.google.deeplink" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
		</activity>

		<activity android:name="com.jdroid.sample.android.ui.ads.AdsActivity" android:label="@string/adMob"
				  android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.sample.android.imageloader.ImageLoaderActivity" android:label="@string/universalImageLoader"
			android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.sample.android.ui.notifications.NotificationsActivity" android:label="@string/notifications"
			android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.sample.android.ui.toasts.ToastsActivity" android:label="@string/toasts"
				  android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.sample.android.ui.analytics.AnalyticsActivity" android:label="@string/googleAnalytics"
				  android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.sample.android.ui.exceptions.ExceptionHandlingActivity" android:label="@string/exceptionHandling"
			android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.sample.android.ui.loading.LoadingActivity" android:label="@string/loading"
				  android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.sample.android.ui.loading.BlockingLoadingActivity" android:label="@string/blockingLoading"
			android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.sample.android.ui.loading.CustomActivityLoadingActivity" android:label="@string/customBlockingLoading"
			android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.sample.android.ui.loading.NonBlockingLoadingActivity" android:label="@string/nonBlockingLoading"
			android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.sample.android.ui.loading.SwipeRefreshLoadingActivity" android:label="@string/swipeRefresLoading"
			android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.sample.android.ui.maps.MapActivity" android:label="@string/googleMaps"
				  android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.sample.android.http.HttpActivity" android:label="@string/http"
				  android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.about.AboutActivity" android:label="@string/about"
			android:parentActivityName="com.jdroid.sample.android.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.about.SpreadTheLoveActivity" android:label="@string/spreadTheLove"
			android:parentActivityName="com.jdroid.android.about.AboutActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.about.LibrariesActivity" android:label="@string/libraries"
			android:parentActivityName="com.jdroid.android.about.AboutActivity" tools:ignore="UnusedAttribute"/>

		<!-- Google Cloud Messaging Configuration -->
		<service android:name="com.jdroid.android.gcm.GcmService" />
		<receiver android:name="com.jdroid.android.gcm.GcmBroadcastReceiver" android:exported="true"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<!-- Receive actual messages -->
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="${applicationId}" />
			</intent-filter>
		</receiver>

		<!-- Used for install referral measurement -->
		<service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
		<receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver" android:exported="true"
			tools:ignore="ExportedReceiver">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>

	</application>

</manifest>
