<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:settings.properties</value>
			</list>
		</property>
	</bean>

	<bean id="appContext" class="com.jdroid.javaweb.sample.context.ServerAppContext">
		<property name="appName" value="${appName}" />
		<property name="appVersion" value="${appVersion}" />
		<property name="buildType" value="${buildType}" />
		<property name="buildTime" value="${buildTime}" />
		<property name="googleServerApiKey" value="${googleServerApiKey}" />
		<property name="minApiVersion" value="${minApiVersion}" />
		<property name="httpMockEnabled" value="${httpMockEnabled}" />
		<property name="httpMockSleepDuration" value="${httpMockSleepDuration}" />
		<property name="adminToken" value="${adminToken}" />
		<property name="twitterOAuthConsumerKey" value="${twitterOAuthConsumerKey}" />
		<property name="twitterOAuthConsumerSecret" value="${twitterOAuthConsumerSecret}" />
		<property name="twitterOAuthAccessToken" value="${twitterOAuthAccessToken}" />
		<property name="twitterOAuthAccessTokenSecret" value="${twitterOAuthAccessTokenSecret}" />
		<property name="twitterEnabled" value="${twitterEnabled}" />
		<property name="rollBarEnabled" value="${rollBarEnabled}" />
		<property name="rollBarAccessToken" value="${rollBarAccessToken}" />
		<property name="firebaseUrl" value="${firebaseUrl}" />
		<property name="firebaseAuthToken" value="${firebaseAuthToken}" />
	</bean>

	<bean id="gitContext" class="com.jdroid.javaweb.context.ServerGitContext">
		<property name="branch" value="${gitBranch}" />
		<property name="sha" value="${gitSha}" />
	</bean>

	<bean id="application" class="com.jdroid.javaweb.sample.context.ServerApplication">
		<property name="appContext" ref="appContext" />
		<property name="gitContext" ref="gitContext" />
	</bean>

	<context:annotation-config />
	<context:component-scan base-package="com.jdroid.javaweb.sample.api" />
	<context:component-scan base-package="com.jdroid.javaweb.push" />

</beans>
