<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.jdroid.android.uil">

    <application>

        <provider
            android:name="com.jdroid.android.uil.UniversalImageLoaderInitProvider"
            android:authorities="${applicationId}.UniversalImageLoaderInitProvider"
            android:exported="false"
            android:initOrder="1" />

    </application>

</manifest>
