<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jdroid.android.firebase.remoteconfig">

	<application>

		<activity android:name="com.jdroid.android.firebase.remoteconfig.FirebaseRemoteConfigActivity"
				  android:parentActivityName="com.jdroid.android.debug.DebugSettingsActivity"
				  android:label="@string/jdroid_firebaseRemoteConfigSettings" />

	</application>
</manifest>