<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.jdroid.android.about">

	<application>

		<meta-data android:name="com.jdroid.android.about.AboutAppLifecycleCallback" android:value="ApplicationLifecycleCallback" />

	</application>

</manifest>