<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jdroid.android.sample"
	 xmlns:tools="http://schemas.android.com/tools">

	<permission android:name="${applicationId}.permission.MAPS_RECEIVE" android:protectionLevel="signature" />

	<uses-permission android:name="${applicationId}.permission.MAPS_RECEIVE" />

	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.android.vending.BILLING" />

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<uses-feature android:name="com.google.android.tv" android:required="false" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.hardware.telephony" android:required="false" />

	<uses-feature android:name="android.hardware.LOCATION" android:required="false" />
	<uses-feature android:name="android.hardware.location.NETWORK" android:required="false" />
	<uses-feature android:name="android.hardware.location.GPS" android:required="false" />

	<application android:icon="@drawable/ic_launcher" android:logo="@drawable/ic_launcher" android:label="@string/appName"
		android:allowBackup="true" android:name="com.jdroid.android.sample.AndroidApplication" android:hardwareAccelerated="true"
		android:theme="@style/App.Theme">

		<meta-data android:name="com.crashlytics.ApiKey" android:value="${crashlyticsApiKey}" />

		<activity android:name="com.jdroid.android.sample.ui.HomeActivity" android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="jdroidframework.com" android:path="/" />
				<data android:scheme="jdroid" android:host="app" android:path="/" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.google.android.apps.plus.VIEW_DEEP_LINK" />
				<data android:scheme="vnd.google.deeplink" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
		</activity>

		<activity android:name="com.jdroid.android.sample.ui.ads.AdsActivity" android:label="@string/adMob"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="jdroidframework.com" android:path="/ads" />
				<data android:scheme="jdroid" android:host="app" android:path="/ads" />
			</intent-filter>
		</activity>

		<activity android:name="com.jdroid.android.sample.ui.ads.HouseAdsActivity" android:label="@string/houseAds"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.imageloader.ImageLoaderActivity" android:label="@string/universalImageLoader"
			android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.datetime.DateTimeActivity" android:label="@string/dateTime"
			android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.notifications.NotificationsActivity" android:label="@string/notifications"
			android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.toasts.ToastsActivity" android:label="@string/toasts"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.analytics.AnalyticsActivity" android:label="@string/googleAnalytics"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.hero.HeroActivity" android:label="@string/hero"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity"  tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.exceptions.ExceptionHandlingActivity" android:label="@string/exceptionHandling"
			android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.loading.LoadingActivity" android:label="@string/loading"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.loading.BlockingLoadingActivity" android:label="@string/blockingLoading"
			android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.loading.CustomActivityLoadingActivity" android:label="@string/customBlockingLoading"
			android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.loading.NonBlockingLoadingActivity" android:label="@string/nonBlockingLoading"
			android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.loading.SwipeRefreshLoadingActivity" android:label="@string/swipeRefresLoading"
			android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.maps.MapActivity" android:label="@string/googleMaps"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.navdrawer.NavDrawerActivity" android:label="@string/navDrawer"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.navdrawer.LeftCustomNavDrawerActivity" android:label="@string/leftCustomNavDrawer"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.navdrawer.RightCustomNavDrawerActivity" android:label="@string/rightCustomNavDrawer"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.navdrawer.NoNavDrawerActivity" android:label="@string/noNavDrawer"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.navdrawer.UserNavDrawerActivity" android:label="@string/userNavDrawer"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.http.HttpActivity" android:label="@string/http"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.recyclerview.RecyclerViewActivity" android:label="@string/recyclerView"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.tablets.TabletActivity" android:label="@string/tablets"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.tablets.LeftTabletActivity" android:label="@string/tablets"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<activity android:name="com.jdroid.android.sample.ui.tablets.RightTabletActivity" android:label="@string/tablets"
				  android:parentActivityName="com.jdroid.android.sample.ui.HomeActivity" tools:ignore="UnusedAttribute"/>

		<service android:name="com.jdroid.android.sample.gcm.AndroidGcmRegistrationService" />

		<!-- Used for install referral measurement -->
		<receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver" android:exported="true"
			tools:ignore="ExportedReceiver">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>

	</application>

</manifest>
