<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
		  package="com.jdroid.android">

	<uses-permission android:name="android.permission.INTERNET" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

	<!-- Required permission to make the GcmTaskService persistence across reboots work -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

	<supports-screens android:largeScreens="true" android:xlargeScreens="true" />

	<application>

		<meta-data android:name="com.jdroid.android.application.AppLifecycleCallback" android:value="ApplicationLifecycleCallback" />
		<meta-data android:name="com.jdroid.android.google.analytics.GoogleAnalyticsAppLifecycleCallback" android:value="ApplicationLifecycleCallback" />
		<meta-data android:name="com.jdroid.android.firebase.analytics.FirebaseAnalyticsAppLifecycleCallback" android:value="ApplicationLifecycleCallback" />

		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

		<receiver android:name="com.jdroid.android.lifecycle.LocaleChangedReceiver" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.LOCALE_CHANGED" />
			</intent-filter>
		</receiver>

		<!-- Register AnalyticsReceiver and AnalyticsService to support background dispatching on non-Google Play devices -->
		<receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
				  android:enabled="true">
			<intent-filter>
				<action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
			</intent-filter>
		</receiver>
		<service android:name="com.google.android.gms.analytics.AnalyticsService"
				 android:enabled="true"
				 android:exported="false"/>

		<!-- Used for install referral measurement -->
		<receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver" android:exported="true"
				  tools:ignore="ExportedReceiver">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

		<!-- Service to handle the creation, rotation, and updating of registration tokens. -->
		<service android:name=".firebase.instanceid.InstanceIdService" android:exported="true" tools:ignore="ExportedService">
			<intent-filter>
				<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
			</intent-filter>
		</service>

		<service android:name="com.jdroid.android.google.gcm.CommandWorkerService" android:exported="false" />
		<service android:name="com.jdroid.android.google.gcm.CommandGcmTaskService"
				 android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
				 android:exported="true">
			<intent-filter>
				<action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
			</intent-filter>
		</service>

		<provider
			android:name="com.jdroid.android.lifecycle.ApplicationLifecycleInitProvider"
			android:authorities="${applicationId}.com.jdroid.android.lifecycle.ApplicationLifecycleInitProvider"
			android:exported="false"
			android:initOrder="1" />

	</application>
</manifest>