<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jdroid.android">

	<uses-permission android:name="android.permission.INTERNET" />

	<supports-screens android:largeScreens="true" android:xlargeScreens="true" />

	<application>

		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

		<!-- Register AnalyticsReceiver and AnalyticsService to support background dispatching on non-Google Play devices -->
		<receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
				  android:enabled="true">
			<intent-filter>
				<action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
			</intent-filter>
		</receiver>
		<service android:name="com.google.android.gms.analytics.AnalyticsService"
				 android:enabled="true"
				 android:exported="false"/>

		<service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

		<!-- Service to handle the creation, rotation, and updating of registration tokens. -->
		<service android:name="com.jdroid.android.instanceid.InstanceIdService" android:exported="false">
			<intent-filter>
				<action android:name="com.google.android.gms.iid.InstanceID"/>
			</intent-filter>
		</service>

	</application>
</manifest>